* { box-sizing: border-box; }
html, body { margin: 0; padding: 0; height: 100%; }

body{
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  background: var(--bg0);
  color: var(--text);
}

a { color: inherit; text-decoration: none; }
html{
  scroll-behavior: smooth !important;
}
